<div class="dataTables_wrapper margin-top-20" id="known-table-wrapper">
    <table class="display dataTable" id="known-table" style="width:100%" aria-describedby="known-table_info">
        <thead>
            <tr>
                <th class="sorting" tabindex="0" aria-controls="known-table" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending">ID</th>
                <th class="sorting" tabindex="0" aria-controls="known-table" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">Date Published</th>
                <th class="sorting sorting_asc" tabindex="0" aria-controls="known-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Project: activate to sort column descending">Project</th>
                <!--<th tabindex="0" aria-controls="known-table" rowspan="1" colspan="2">Description</th>-->
            </tr>
        </thead>
    </table>
</div>

{{/* 
  @todo: Remove hotfix for
  https://gitlab.eclipse.org/eclipsefdn/it/webdev/hugo-solstice-theme/-/issues/274 
*/}}
<link rel="stylesheet" href="/public/css/datatables.net-dt.css">
<script async src="/public/js/known-vulnerabilities.js"></script>
